complexity:
    LongParameterList:
        allowedFunctionParameters: 10
        ignoreDefaultParameters: true
    TooManyFunctions:
        ignoreAnnotatedFunctions: ['Preview']

#formatting:
#    MaximumLineLength:
#        maxLineLength: 100
#        ignoreBackTickedIdentifier: true
#    MultiLineIfElse:
#        active: false

naming:
    FunctionNaming:
        ignoreAnnotated: [ 'Composable' ]

style:
    MaxLineLength:
        maxLineLength: 100
        excludeRawStrings: true
    MagicNumber:
        ignorePropertyDeclaration: true
        ignoreCompanionObjectPropertyDeclaration: true
    UnusedPrivateFunction:
        ignoreAnnotated: ['Preview']

Compose:
    ComposableAnnotationNaming:
        active: true
    ComposableNaming:
        active: true
    ComposableParamOrder:
        active: true
    CompositionLocalAllowlist:
        active: true
    CompositionLocalNaming:
        active: true
    ContentEmitterReturningValues:
        active: true
    ContentTrailingLambda:
        active: true
    ContentSlotReused:
        active: true
    DefaultsVisibility:
        active: true
    LambdaParameterEventTrailing:
        active: true
    LambdaParameterInRestartableEffect:
        active: true
    Material2:
        active: true
    ModifierClickableOrder:
        active: true
    ModifierComposed:
        active: true
    ModifierMissing:
        active: true
    ModifierNaming:
        active: true
    ModifierNotUsedAtRoot:
        active: true
    ModifierReused:
        active: true
    ModifierWithoutDefault:
        active: true
    MultipleEmitters:
        active: true
    MutableParams:
        active: true
    MutableStateAutoboxing:
        active: true
    MutableStateParam:
        active: true
    ParameterNaming:
        active: true
    PreviewAnnotationNaming:
        active: true
    PreviewNaming:
        active: true
        previewNamingStrategy: prefix
    PreviewPublic:
        active: true
    RememberMissing:
        active: true
    RememberContentMissing:
        active: true
    UnstableCollections:
        active: false
    ViewModelForwarding:
        active: true
    ViewModelInjection:
        active: true
